{% extends 'base.html.twig' %}

{% block title %}Modifier Tickets{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier le tickets</h1>
    {{ include('tickets/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('tickets/_delete_form.html.twig') }}

    <a class="btn btn-outline-secondary" href="{{ path('tickets_index') }}">Retour à la liste</a>
</div>
{% endblock %}
